
html{
    font-family: sans-serif;
    background: #dddddd;
}
h1{
    text-align: center;
    font-size: 40px;
}
.container-main{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    background: #f2f2f2;
    display: block;
    padding: 0;
    position: relative;
    border: 1px solid #c3c3c3;
}
#sp{
    width: 100%;
}
